<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    {% block attention %}
    {% endblock %}

    {% block title %}
    <form action="/hello" method="post">
        <input type="text" name="Login" placeholder="Логин">
        <input type="email" name="Email" placeholder="Эл. почта">
        <input type="submit" value="Отправить!">
    </form>
    {% endblock %}

    {% block content %}
    <h3>Войдите в систему, чтобы видеть скрытый текст.</h3>
    {% endblock %}
</body>
</html>